

*{
  max-width: 1366px;
  max-height: 768px;
}
#next, #back{
  transition: 0.5s;
}
#next:hover, #back:hover{
  background-color: white;
  color: black;
}
#addu{
  cursor: pointer;
}
#addu:hover{
  background: rgb(217, 125, 194);
}
