
#next, #back{
  transition: 0.5s;
}
#next:hover, #back:hover{
  background-color: white;
  color: black;
}
#addu{
  border: 1px solid black;
  border-radius: 8px;
  transition: 0.5s;
  cursor: pointer;
}
#addu:hover{
  background: rgb(217, 125, 194);
}
